.d{ width: 500px; height: 300px;
 margin: 40px;
}
.b {margin : 40px;}
body{background-color: #669999;}




.teamCorner {width: 50%;}
.teamquote{
position:absolute;
top:70px;
font-size: 20px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
}

#pic2 {width:100%;}

.formCorner {width: 50%; text-align: right;}

#team{width:100%;
    height:100%;
position: relative;
}
body{
    height:1000px;
    background: linear-gradient(#88d1f1,white);
}
    
.people {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
    clip: rect(0px,600px,450px,0px);
    z-index: -10

}
.flags {
   position: absolute;
   top: 48%;
   left: 50%;
   width: 345px;
   height: 345px;
   margin-top: -172px; /* Half the height */
   margin-left: -172px; /* Half the width */
   z-index: -9
}
.quotefont {
    font-size:15pt;
    font-family: "Times New Roman", Times, serif;
}

.row {
    display: flex;
    justify-content: space-between;
}
.a{
    Width:500px;
    height:500px;
    
    }
